In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 2.2.1          ✔ purrr   0.2.4
✔ tibble  1.4.2.9001     ✔ dplyr   0.7.5.9000
✔ tidyr   0.8.0          ✔ stringr 1.3.0
✔ readr   1.1.1          ✔ forcats 0.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
folkPerFamily <- 5
Families <- 200

folk <- folkPerFamily * Families

set.seed(43)
Income_survey_florilandia <- tibble(PersonID = seq.int(folk),
                       Income_signal = floor(PersonID/100)^2 * 100,
                       Income = Income_signal + runif(folk,Income_signal/1.3,Income_signal))
Income_survey_florilandia

     PersonID Income_signal Income
1     1       0             0
2     2       0             0
3     3       0             0
4     4       0             0
5     5       0             0
6     6       0             0
7     7       0             0
8     8       0             0
9     9       0             0
10   10       0             0
11   11       0             0
12   12       0             0
13   13       0             0
14   14       0             0
15   15       0             0
16   16       0             0
17   17       0             0
18   18       0             0
19   19       0             0
20   20       0             0
21   21       0             0
22   22       0             0
23   23       0             0
24   24       0             0
25   25       0             0
26   26       0             0
27   27       0             0
28   28       0             0
29   29       0             0
30   30       0             0
⋮    ⋮        ⋮             ⋮
971   971      8100         15245.91
972   972      8100         15080.91
973   973      8100         15194.54
974   974      8100         15878.53
975   975      8100         14931.02
976   976      8100         14430.03
977   977      8100         15037.22
978   978      8100         14709.41
979   979      8100         14713.98
980   980      8100         15211.85
981   981      8100         14676.27
982   982      8100         14420.03
983   983      8100         15653.53
984   984      8100         14943.95
985   985      8100         14452.80
986   986      8100         15748.21
987   987      8100         15210.55
988   988      8100         15275.45
989   989      8100         16040.19
990   990      8100         15013.92
991   991      8100         14546.19
992   992      8100         15662.48
993   993      8100         15130.34
994   994      8100         15178.53
995   995      8100         15608.94
996   996      8100         14876.87
997   997      8100         15201.55
998   998      8100         15327.09
999   999      8100         14786.20
1000 1000     10000         19951.18

In [61]:
set.seed(996)
Income_survey_florilandia %>%
  mutate(Income = Income + (mean(Income) - Income) / 3.5 + rnorm(folk,mean = 0, sd = 100) ) ->
Income_survey_alberonia

In [63]:
Income_survey_florilandia$Country <- "Florilandia"
Income_survey_alberonia$Country <- "Alberonia"

L <- 10000
DiffDiff <- numeric(L)
for(i in 1:L) {
    set.seed(10000 + i)
Income_survey_florilandia <- Income_survey_florilandia %>%
    mutate(Family_ID = sample(1:Families, folk, replace = TRUE))
Income_survey_alberonia <- Income_survey_alberonia %>%
    mutate(Family_ID = sample(1:Families, folk, replace = TRUE))

Income_survey_alberonia %>%
bind_rows(Income_survey_florilandia) ->
Income_survey
    
ResBF <- Income_survey %>%
    group_by(Country,Family_ID) %>%
    summarise(Family_Income = mean(Income)) %>%
    summarise(median_Income = median(Family_Income))

ResPP <- Income_survey %>%
    group_by(Country,Family_ID) %>%
    mutate(Family_Income = mean(Income)) %>%
    group_by(Country) %>%
    summarise(median_available_Income = median(Family_Income))

DiffBF <- as.numeric(ResBF[1,2] - ResBF[2,2])
DiffPP <- as.numeric(ResPP[1,2] - ResPP[2,2])
DiffDiff[i] <- abs(DiffBF - DiffPP)
}

In [150]:
set.seed(6128)
Income_survey_florilandia <- Income_survey_florilandia %>%
    mutate(Family_ID = sample(1:Families, folk, replace = TRUE))
Income_survey_alberonia <- Income_survey_alberonia %>%
    mutate(Family_ID = sample(1:Families, folk, replace = TRUE))

Income_survey_alberonia %>%
bind_rows(Income_survey_florilandia) ->
Income_survey
    
Income_survey %>%
    group_by(Country,Family_ID) %>%
    summarise(Family_Income = mean(Income)) %>%
    summarise(median_Income = median(Family_Income))

Income_survey %>%
    group_by(Country,Family_ID) %>%
    mutate(Family_Income = mean(Income)) %>%
    group_by(Country) %>%
    summarise(median_available_Income = median(Family_Income))

  Country     median_Income
1 Alberonia   5148.613
2 Florilandia 5180.549

  Country     median_available_Income
1 Alberonia   5502.398
2 Florilandia 4963.787

In [151]:
Income_survey_alberonia %>%
bind_rows(Income_survey_florilandia) %>%
select(-Income_signal) ->
Income_survey

In [152]:
write_rds(Income_survey, path = "Income.rds")